.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js

.idea/
css/opitz/backgroundTriangles.png

css/opitz/imagebilder.png

css/opitz/listegross.png

css/opitz/OC_Brushes.svg

css/opitz/Opitz_Logo_V1.svg

*/.DS_Store

.DS_Store


css/opitz/backgroundTriangles.png

css/opitz/imagebilder.png

css/opitz/OC_Brushes.svg

css/opitz/Opitz_Logo_V1.svg
